.kutu1 {
  width: 70px;
  height: 70px;
  background-color: brown;
  top: 100px;
  position: relative;
  z-index: 2;
}
.kutu2 {
  width: 70px;
  height: 70px;
  background-color: blue;
  z-index: 1;
}
